[submodule "submodules/tree-b"]
	path = submodules/tree-b
	url = https://github.com/yakiniku-lovers/tree-b
[submodule "submodules/tree-d"]
	path = submodules/tree-d
	url = https://github.com/yakiniku-lovers/tree-d
