<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Top</title>
</head>
<body class="container">
  <h1>ツイートから木をつくったったー</h1>

  <p><a href="/request_token">Twitter認証</a></p>

  <% if @twitter.authorized? %>
  <%= @twitter.user_timeline({count: 200, exclude_replies: true}) %>
  <% end %>
</body>
</html>
